<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - Cyber Framework</title>
  <script src="https://unpkg.com/htmx.org@2.0.3"></script>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <link rel="stylesheet" href="/styles/global/reset.css">
  <link rel="stylesheet" href="/styles/global/variables.css">
  <link rel="stylesheet" href="/styles/global/utils.css">
  <link rel="stylesheet" href="/styles/components/buttons.css">
  <link rel="stylesheet" href="/styles/components/cards.css">
  {{ styles }}
</head>
<body>
  <div id="app">
    {{ navigation }}
    <main class="container">
      {{ content }}
    </main>
  </div>
</body>
</html> 