*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-display);
  color: var(--text-primary);
  background-color: var(--bg-primary);
  min-height: 100vh;
  line-height: 1.6;
}

ul {
  list-style-position: inside;
  margin-bottom: 1rem;
} 